$primary:rgb(69, 102, 199);
$secondary:rgb(203, 103, 32);

$colors:(
    "primary":$primary,
    "secondary":$secondary,
    "success":green,
    "danger":red,
    "warning":orange,
    "purple":purple,
    "white":whitesmoke,
    "black":rgb(24, 24, 24)
);

