nav{
    background-color: rgb(55, 55, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
}

#menuButton{
    width: 30px;
    height: 30px;
    display: none;
}

#logo{
    color:whitesmoke;
    padding: 0 10px;
}

.menu{
    display: flex;
    list-style: none;
    transition: all 1s ease-in-out;
}

li > a{
    color:whitesmoke;
    padding: 0 15px;
}

@media (max-width: 700px){
    #menuButton{
        display: initial;
        padding: 0 10px;
    }
    .menu{
        position: absolute;
        background-color: rgb(69, 69, 153);
        flex-direction: column;
        top:50px;
        padding: 20px;
        min-width: 75%;
        min-height: 25vh;
        left: -100%;
    }

    li{
        margin: 7px 0;
        font-size: 20px;
    }
}

/* Mobile first
    PC first */